#table {
    background-color: black;
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    margin-left: 50px;
    margin-right: 50px;
}

td  {
    height: 13px;
    width: 13px;

}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}
