.rows td {
    background-color: greenyellow;
}

.cols {
    background-color: greenyellow;
    width: 15px;
    height: 15px;

}

#table {
    background-color: black;
    width: 600px;
    height: 600px;
}

.snake {
    border: 1px solid white;
    background-color: red;
}
