<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Snake Game</title>
    <link type="text/css" rel="stylesheet" href="../static/snake_style.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/8bit-wonder" type="text/css"/>
    <script src="../static/snake.js" defer></script>
</head>
    <div class="title">
            <h1 id="gametitle">Snake game by team SNAKE</h1>
            <div class="slidecontainer">
              <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <span>Speed: </span><span id="demo">Value</span><br>
            <button class="startgame-button" id="start-game"><img id="play-button" src="https://www.dosgamers.com/images/play_button.png" > </button>
            <p id="score"></p>
    </div>
<body>
    <div id="container">
    </div>

</body>
</html>