<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Snake Game</title>
    <link type="text/css" rel="stylesheet" href="../static/snake_style.css">
    <script src="../static/snake.js" defer></script>
</head>
    <div class="title">
        <h1 id="gametitle">Snake game by team SNAKE</h1>
        <button class="startgame-button" id="start-game">START GAME</button>
    </div>
<body>
    <div id="container">
        <table id="table">


        </table>
    </div>

</body>
</html>